.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 300%;
	animation: cambio 9s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider li::before{
    background-image: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0%, 30%  {margin-left: 0;}
	
	33%, 63% {margin-left: -100%;}
		
	66%, 100%  {margin-left: -200%;}

}
