:root{
--cta-color: #007BDF;
--cta-color-alt:#006DC6;
--second-color:#00CBFF;
--second-color-alt: #00BFF0;
--first-color: #FF3C32;
--first-color-alt: #FF2419;
--first-color-rgba: rgba(255,60,50,.5);
--third-color: #FBA905;
--third-color-alt: #F1A000;
--dark-color: #282D31;
--dark-color-alt: #141618;
--border-color: #DFE0E0;
--text-color: #53575A;
--body-bg: #FAFDFF;
--font-size: 16px;
--font-main: roboto;
--font-second: Raleway;
--line-height: 1.6;
--header-height: 6rem;
--max-width: 1200px;
}

html {
  background-color: var(--body-bg);
  font-family: var(--font-second),  sans-serif;
  box-sizing:border-box;
  /*font-family: var(--font-main);*/
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
}

h1,h2,h3,h4,h5,h6{font-family: var(--font-main), sans-serif;}
a {
  text-decoration: none;
  display: inline;
}

nav a {
  color: rgb(243, 209, 209);
}

nav{
  right: 4%;
  top: 55%;
  word-spacing: 15px;
  padding-right: 2%;
  position: absolute;
}
/*corregir la separacion del menu cotiza con nosotros*/

nav a:nth-child(3){
  word-spacing: .8px;
}
nav a:hover{
  border-bottom: solid 3px var(--third-color-alt);
  padding-bottom: 13px;
}

.menu-container {
 
  position:fixed;
  width: 80%;
  height: var(--header-height);
  background: linear-gradient(to top right,  var(--first-color) , var(--first-color-rgba)),
  url(../img/mud21.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--border-color);
  font-size:1.05rem;
  vertical-align: middle;
}

.logo-menu,
.logo-menu img {
  position: absolute;
  display: flex;
  height: 80px;
  top:7%;
  left:5%;
  padding: 0;
}

.box-main{
  background-color: var(--cta-color);
  color: rgb(152, 231, 223);
  flex-wrap: nowrap;
  top: calc(var(--header-height)*1.05);
  padding-bottom: 3px;
}
.box-main, 
.box-card1,
.box-card2,
.menu-container,
.box-telefono,
.form-box,
footer {
  margin-right: 10%;
  margin-left: 10%; 
}

.box-telefono{
    display: flex;
    background-image: linear-gradient(var(--third-color), var(--third-color-alt));
    width: 15%;
    height: 25vh;
    border-radius: 3px;
    box-shadow: 2px 4px 5px rgba(0,0 ,0, .5);
    
}

.box-card1,
.box-card2,
.box-card3,
.box-main-description{
  display: flex;
  background-color: var(--cta-color-alt);
  width: 40%;
  height: 35%;
  border-radius: 3px;
  box-shadow: 2px 4px 5px rgba(0,0 ,0, .5);
  margin-bottom: 1rem;
  margin-left: 0;
  padding-left: 1%;
  padding-right: 1%;
  color: rgb(152, 231, 223);
  flex-wrap: wrap;
}


.box-telefono p span,
.box-telefono a{
  color: rgb(234, 243, 181);}
  
  .form-box{
    background-image: linear-gradient(to bottom, var(--first-color) 60%, brown 95%);
    width: 200px;
    height: 220%;
   color: rgb(241, 193, 193);
    padding-left: 2rem ;
    padding-right: -2rem;
    padding-bottom: 3px;
    border-radius: 3px;
    box-shadow: 2px 4px 5px rgba(0,0 ,0, .5);
    line-height: 1.8rem;
    margin-bottom: 4px;
    
    
  }
  
    input[type=submit] {
    background-color: var(--cta-color);
    color: rgb(181, 226, 222);
    margin-top: 2px;
    align-items: right;
    border-radius: 4px;
    box-shadow: 2px 3px 4px rgba(0,0 ,0, .5);
    cursor: pointer;
    padding: 4px;
    margin-bottom: 2px;
  }
  
  label, 
  input
  .form-box{
  display: block;
  }
  
  form:nth-last-child(){
    display: block;
    background-color: var(--cta-color);
    color: var(--second-color-alt);
    border-radius: 3px;
    
  }


  /*----------------------------footer------------------*/
footer{
  display: flex;
  background: var(--dark-color);
  color: var(--text-color);
  text-align: center;
  flex-wrap: nowrap;

}  
.container-socialnetwork {margin: inherit;}
footer a {
  text-decoration: none;
  color: var(--text-color);
}  
footer a:hover{
  text-decoration: underline;
  color: rgb(173, 166, 166);
}  

.socialnetwork .insta img {
  margin-top: 8px;
  height: 50px;
  width: 50px;
  justify-content: center;
  margin-left: 3rem;
  opacity: 0.5;
  
 }
 .socialnetwork .face img {
  margin-top: 8px;
  height: 50px;
  width: 50px;
  justify-content: center;
  opacity: 0.5;
 }
 .socialnetwork .face img:hover{
   opacity: 1;
   cursor: pointer;
 }
 .socialnetwork .insta img:hover{
  opacity: 1;
  cursor: pointer;
}
 .telf-contacto{
   justify-content: baseline;
   text-align: center;
   margin-top: 3rem;
   margin-left: -4rem;
   
 }


