:root{
--cta-color: #007BDF;
--cta-color-alt:#006DC6;
--second-color:#00CBFF;
--second-color-alt: #00BFF0;
--first-color: #FF3C32;
--first-color-alt: #FF2419;
--first-color-rgba: rgba(255,60,50,.5);
--third-color: #FBA905;
--third-color-alt: #F1A000;
--dark-color: #282D31;
--dark-color-alt: #141618;
--border-color: #DFE0E0;
--text-color: #53575A;
--body-bg: #FAFDFF;
--font-size: 16px;
--font-main: roboto;
--font-second: Raleway;
--line-height: 1.6;
--header-height: 8rem;
--max-width: 1200px;
}

html {
  background-color: var(--body-bg);
  font-family: var(--font-second),  sans-serif;
  box-sizing:border-box;
  /*font-family: var(--font-main);*/
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
}


h1,h2,h3,h4,h5,h6{
  font-family: var(--font-main), sans-serif;
}

h1{
  font-style: 700;
}

a {
  text-decoration: none;
  display: inline;
  
}
nav a {
  color: rgb(243, 209, 209);
}

nav{
  align-items: flex-start;
  text-align: right;
  word-spacing: 15px;
  padding-right: 2%;
}
/*corregir la separacion del menu cotiza con nosotros*/

nav a:nth-child(3){
  word-spacing: .8px;
}

.menu-container {
 
  position:fixed;
  width: 80%;
  height: var(--header-height);
  background: linear-gradient(to top right,  var(--first-color) , var(--first-color-rgba)),
  url(../img/mud21.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--border-color);
  font-size:1.05rem;
  vertical-align: middle;
  
  
  
}

.logo-menu img{
 display: flex;
}

.logo-menu, 
.logo-menu img {
  display: grid;
}

.box-main, 
.box-card1,
.box-card2,
.menu-container,
.box-telefono,
.form-box,
footer {
  margin-right: 10%;
  margin-left: 10%; 
}

.box-telefono{
    display: grid;
    background-image: linear-gradient(var(--third-color), var(--third-color-alt));
    width: 15%;
    height: 20vh;
    border-radius: 3px;
    box-shadow: 2px 4px 5px rgba(0,0 ,0, .5);
    position: relative;
    left: 65%;
    top: 40%;
}
.box-card1,
.box-card2,
.box-card3,
.box-main-description{
  display: grid;
  background-color: var(--cta-color-alt);
  width: 40%;
  height: 35%;
  border-radius: 3px;
  box-shadow: 2px 4px 5px rgba(0,0 ,0, .5);
  margin-bottom: 1rem;
  margin-left: 0;
  padding-left: 1%;
  padding-right: 1%;
  color: rgb(152, 231, 223);
}

.box-main{
  background-color: var(--cta-color);
  color: rgb(152, 231, 223);
}

.box-telefono p span,
.box-telefono a{
  color: rgb(234, 243, 181);
  
}

footer{
  display: block;
  background: var(--dark-color);
  color: var(--text-color);
  text-align: center;
}
footer a {
  text-decoration: none;
  color: var(--text-color);
}
footer a:hover{
  text-decoration: underline;
  color: rgb(173, 166, 166);
}
.form-box{
  background-image: linear-gradient(to bottom, var(--first-color) 60%, brown 95%);
  width: 20%;
  height: 66vh;
  margin-bottom: 3rem;
  color: rgb(241, 193, 193);
  padding-left: 2rem ;
  padding-right: -2rem;
  border-radius: 3px;
  box-shadow: 2px 4px 5px rgba(0,0 ,0, .5);
  line-height: 1.8rem;
  
}

  input[type=submit] {
  background-color: var(--cta-color);
  color: rgb(181, 226, 222);
  margin-top: 2px;
  align-items: right;
  border-radius: 4px;
  box-shadow: 2px 3px 4px rgba(0,0 ,0, .5);
  cursor: pointer;
  padding: 4px;
  margin-bottom: 2px;
}

label, 
input
.form-box{
display: block;
}

form:nth-last-child(){
  display: block;
  background-color: var(--cta-color);
  color: var(--second-color-alt);
  border-radius: 3px;
  
}